<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="startSettings" type="FileSystemService.Common.Models.StartSettings, FileSystemService.Common"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>

  <startSettings uiLanguage="en-US" defaultFolder="D:\Test\Tes2">
    <folders>
      <folder path="D:\Test" />
      <folder path="D:\Test\Tes1" />
    </folders>
    <rules>
      <rule pattern="^[\w,\s-]+\.txt$" destination="D:\Test\gog" isAddingDate="true" isAddingNumber="true"/>
    </rules>
  </startSettings>
  

</configuration>