<log4net>
  <root>
    <appender-ref ref="file" />
  </root>
  <appender name="file" type="log4net.Appender.FileAppender">
    <file value="mvcstorelogs.xml" />
    <appendToFile value="true" />
    <!--<encoding value="unicodeFFFE" />-->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="MvcMusicStore.Helpers.CustomXmlLayout"/>
  </appender>
</log4net>