<log4net>
  <root>
    <appender-ref ref="file" />
  </root>
  <appender name="file" type="log4net.Appender.FileAppender">
    <file value="mvcstorelogs.xml" />
    <appendToFile value="true" />
    <!--<encoding value="unicodeFFFE" />-->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="MvcMusicStore.Helpers.CustomXmlLayout"/>
  </appender>
  <!--<appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="mvcstorelogs.xml" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="MvcMusicStore.Helpers.CustomXmlLayout">
      <header>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;</header>
      --><!--<header>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&lt;LogEntries&gt;</header>
      <footer>&lt;/LogEntries&gt;</footer>--><!--
    </layout>
  </appender>-->
</log4net>